body {
    padding: 0px;
    margin: 0px;
    background-color: #F2F2F2;
    position: absolute;
    height: 100%;
    width: 100%;
}

h1 {
    text-shadow: 0 1px 0 #fff;
}

.top-bar {
    background: #FFF;
    box-shadow: 0px 0px 12px #999;
}

.divided {
    border-right: thin solid #aaa;
}

.top-bar ul > li a:not(.button) {
    color: #333;
}

.top-bar ul > li:not(.name):hover a,
.top-bar ul > li:not(.name).active a {
    color: #000;
}

.top-bar ul > li:not(.name):hover,
.top-bar ul > li:not(.name).active {
    background: #EEE;
}

.center-text {
    text-align: center;
}
