.buff {
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: thin dotted #CCC;
}

.buff:last-child {
    border-bottom: thin dotted #CCC;
    
}

.buff-buttons {
    text-align:right;
}

.mini-chart {
    background-color: #FFF;
    border-radius: 10px;
}

.eight.columns {
    border-right: thin solid gray;
    padding-right: 0px;
}

.columns {
    margin-bottom: 2em;
}

#buff_info {
    z-index: 2;
    border-top: thin solid gray;
    display: none;
    margin: 0px;
    overflow: display;
    position: absolute;
    background: #F2F2F2;
    bottom: 0px;
    padding-top: 0.5em;
    line-height: 1.5;
}
