body {
    overflow-x: hidden;
}

div.new-chart {
    display: inline-block;
}

div.new-chart select {
    width: auto;
}

div.new-chart input[type=submit] {
    margin-top: 18px;
    margin-right: 6px;
    display: block;
}

#chart_container {
    padding: 0px;
    margin: 20px 0px;
    cursor: pointer;
}

#chart_container * {
    box-sizing: content-box;
}

#chart_container svg {
    padding-bottom: 30px;
}

#chart .detail .x_label {
    bottom: 0px;
}

.rickshaw_graph .detail .overflow.item::before {
    content: "";
}
.rickshaw_graph .detail .overflow.item::after {
    content: "\25b8";
    color: rgba(0, 0, 0, .7);
    position: absolute;
    right: -.5em;
}

.y_ticks, .y_grid, .x_tick, .rickshaw_graph .title {
    display: none;
    overflow: inherit;
}
