{% extends "base.html" %}
{% import "charts/graph.html" as graph %}
{% import "buffs/macros.html" as macros %}

{% block extra_head %}
<link rel='stylesheet' href='/static/stylesheets/buffs.css' />

{{ graph.import() }}
<script type="text/javascript" src="/static/javascripts/d3-timeline.js"></script>
<script type="text/javascript" src="/static/javascripts/jquery.dragToScroll.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    {% for buff in outstanding_buffs %}
        {{ graph.create_mini(
            '#' + buff.chart_id, buff.chart_data, 'line') }}
    {% endfor %}
    
    {% if accepted_buffs %}
    var accepted_buffs = {{ accepted_buffs|safe }};
    var fullDateFormat = d3.time.format("%b %d, %Y");
    var partialDateFormat = d3.time.format("%b %d");
    
    var svg = d3.select("#buffs_timeline")
        .append("svg")
        .datum(accepted_buffs);
    
    var year_text = svg.append("text")
        .attr("style", "font-size:24px")
        .attr("transform", "translate("+ 0 +","+ 40 +")")
        .text("{{ start_year }}");
        
    var chart = d3.timeline()
      .stack()
      .width({{ timeline_width }})
      .margin({left: 40, right: 30, top: 30, bottom: 30})
      .itemHeight(40)
      .click(function (d, i, datum) {
          document.getElementById('buff_info_chart').innerHTML = "";
          document.getElementById('buff_info_title').innerHTML = d.title;
          document.getElementById('buff_info_description').innerHTML = d.text;
          
          graph = new Rickshaw.Graph({
            element: document.getElementById('buff_info_chart'),
            height: 200,
            renderer: 'line',
            series: d.chart_data
          });
          graph.render();
          
          $("#buff_info").slideDown(100, function () {
              $("#buff_info").attr("style", "overflow:display;display:block");
              $("html, body").animate({ scrollTop: $(document).height() }, 100);
            })
        })
      .tickFormat({
          format: function(d, i){
              d = new Date(d);
              
              // Show year only on first tick and January 1st.
              if (i == 0 || (d.getMonth() == 0 && d.getDate() < 7)) {
                  return fullDateFormat(d, i);
              } else {
                  return partialDateFormat(d, i);
              }
          }, 
          tickTime: d3.time.weeks,
          tickNumber: 1, 
          tickSize: 3 })
      .rotateTicks(90)
      .scroll(function (x, scale) {
          year_text.text(scale.invert(x).getFullYear());
      });
        
    svg.call(chart).attr("height", chart.height());
    
    $("svg rect").click(function (e) {
        console.log(e.pageX+", "+e.pageY);
    });
    {% endif %}
});
</script>
{% endblock %}

{% block content %}


{% if outstanding_buffs %}
<div id="suggested_buffs" class="twelve columns success">
    {{ macros.show_buffs_list("Suggested", outstanding_buffs, OUTSTANDING) }}
</div>
{% endif %}


<div class="eight columns">
    <div><h1>History</h1></div>
    <div id="buffs_timeline">
        {% if not accepted_buffs %}
        <p>You haven't accepted any suggested buffs yet.</p>
        {% endif %}
    </div>
</div>

<div class="four columns">
    <h1>Active</h1>
    {% if not active_buff_charts %}
    <p>You don't have any active buffs.</p>
    {% else %}
        {% for chart in active_buff_charts %}
        <img src="/static/images/buffs/{{ chart.icon }}" />
        {% endfor %}
    {% endif %}
</div>
{% endblock%}

{% block footer %}
<div id="buff_info" class="twelve columns">
    <div class="six columns">

        <div id="buff_info_chart" class="chart"></div>
    </div>
    <div class="five columns">
        <h3 id="buff_info_title"></h3>
        <div id="buff_info_description"></div>
    </div>
    <div class="right">
        <img src="/static/images/circle_remove.png" onclick="$('#buff_info').slideUp(100)"/>
    </div>
</div>
{% endblock %}
