{% extends "base.html" %}
{% import "charts/graph.html" as graph %}

{% block extra_head %}
<link rel="stylesheet" href="/static/stylesheets/charts.css" />
<script type="text/javascript">
$(document).ready(function () {
    var aspects = {{ aspects|safe }};
    
    $('#datastream').change(function (e) {
        var $aspect_dd = $('#aspect');
        $aspect_dd.empty();
        $.each(aspects[e.target.value]['aspects'], function (i, value) {
            $aspect_dd.append("<option value='" + value + "'>"
                + value.replace(/_/g, ' ') + "</option>");
        });
    });
});
</script>

{% if series %}
{{ graph.import() }}

<script type="text/javascript">
$(document).ready(function () {
    var aspects = {{ aspects|safe }};
    
    {{ graph.create('#chart', series, form.chart_type.data) }}
});
</script>
{% endif %}
{% endblock %}

{% block content %}
{#
s<div class="six columns">
    <h1>Your Charts</h1>
    <em>None</em>
</div>
#}

{% if series %}
<div div class="twelve columns">
    <h1>Your {{ form.datastream.data|replace('_', ' ')|title }} 
        {{ form.aspect.data|replace('_', ' ') }} 
        by {{ form.frequency.data }}
    </h1>
</div>
{# Breaking out of the container div. Not sure if I like this, but... #}
</div>
<div id="chart_container" class="twelve columns four-mobile row">
    <div id="chart"></div>
</div>
{# Continuing the container div. #}
<div div class="twelve columns">
{% endif %}

<div div class="twelve columns">
    <h1>Make a Chart</h1>
    <div class="new-chart">
        {% for field in form %}
            {% if field.errors %}
                {{ field.name }}:
                <ul>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
        <form action='' method='post'>
            {{form.request_url.label}}: {{form.request_url}}
            <input class="button" type="submit" value="Create" />
        </form>
    {#<form action='' method='post'>
        Show me my {{ form.datastream }} {{ form.aspect }} by
        {{ form.frequency }} as a {{ form.chart_type }} graph.
        <input class="button" type="submit" value="Create" />
    </form>#}
</div>
</div>
{% endblock%}
