body {
    padding: 0px;
    margin: 0px;
    background-color: #D31900;
}

.card-base {
    background-color: #FF6600;
    margin: 10%;
}

.card, .card-base {
    padding: 10px;
    border-radius: 10px;
}

.card {
    background-color: #FFF2AF;
    padding: 5%;
    font-family: 'Sanchez', serif;
    font-size: 2em;
}

#logo {
    font-family: 'Ubuntu';
    font-size: 3em;
    color: #FFF2AF;
    position: absolute;
    right: 20px;
    bottom: 10px;
}
